---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex flex-col space-y-12 text-center">
        <span>404 Not Found</span>
        <div class="flex flex-col space-y-3.5">
            <p>Oops,</p>
            <p>I seem to have misplaced the page you are looking for :/</p>
            <p>
                Perhaps you would like to go back <a
                    class="text-orange hover:underline"
                    href="/">home</a
                >
            </p>
        </div>
    </div>
</BaseLayout>
<style>
    span {
        font-family: "Manrope Variable";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 136.491%; /* 3.41225rem */
        letter-spacing: -0.075rem;
    }

    p {
        font-family: "Cardo";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 135.292%; /* 2.02938rem */
        letter-spacing: -0.015rem;
    }
</style>
