---
import { Image } from "astro:assets";
import logo from "../imgs/ankt.svg";

import "@fontsource/cardo";
import "@fontsource-variable/manrope";
---

<!doctype html>
<html
    lang="en"
    class="selection:bg-[#F48525] selection:text-[#E9E9E9] scroll-smooth"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="a.svg" />
        <title>aniket negi's website</title>
    </head>
    <body class="bg-LM-Background flex flex-col items-center min-h-screen">
        <div
            class="flex flex-col items-center w-full lg:max-w-7xl space-y-64 mt-8"
        >
            <button>
                <Image
                    src={logo}
                    alt="Aniket Negi's personal Logo"
                    width={97}
                    height={64}
                    loading="eager"
                />
            </button>

            <div class="flex flex-col space-y-12 text-center">
                <span>404</span>
                <div class="flex flex-col space-y-3.5">
                    <p>The page you’re looking for could not be found :(</p>
                    <p>
                        Perhaps you would like to go back <a href="/">home</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>

<style>
    span {
        color: var(--Light-Mode-LM---Text, #141414);
        font-family: "Manrope Variable";
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 136.491%; /* 3.41225rem */
        letter-spacing: -0.075rem;
    }

    p {
        color: var(--Light-Mode-LM---Text, #141414);
        font-family: "Cardo";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 135.292%; /* 2.02938rem */
        letter-spacing: -0.015rem;
    }
    p a {
        color: #f48525;
    }
</style>
