---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostCard from "../components/blog/BlogPostCard.astro";

import type { Crumb } from "../utils/types";

const title = "ankt / blog";
const current = "blog";
const breadcrumbs: Array<Crumb> = [{ title: "BLOG", href: "/blog/" }];

const blogPosts = await getCollection("blog");
---

<BaseLayout {title} {current} {breadcrumbs}>
    <div class="flex flex-col space-y-4 mb-10">
        <h1
            class="text-LM-Text dark:text-DM-Text font-sans text-2xl uppercase tracking-[-0.015rem] font-medium"
        >
            Structured Thoughts <span class="lowercase text-sm italic"
                >(not really)</span
            >
        </h1>
        <p
            class="lg:w-7/12 text-LM-Text dark:text-DM-Text font-serif text-base font-normal"
        >
            This is the place where I share my (comparitively) more structured
            thoughts. Concepts like <a
                href="https://100daystooffload.com/"
                class="text-orange hover:underline underline-offset-4"
                >100 days to offload</a
            > really make me want to put out more of my thoughts into writing. I
            will try to be more consistent than the last time I made a site and promised
            that I'll be writing. With the amount of effort I've spent in designing
            and developing this one, boy I think I'll be more regular for sure.
        </p>
    </div>
    <hr class="border-LM-Secondary dark:border-DM-Secondary border-[1px]" />
    <div class="flex flex-col space-y-16 items-start mt-10">
        {blogPosts.reverse().map((blogPost) => <BlogPostCard {blogPost} />)}
    </div>
</BaseLayout>
