---
import BaseLayout from "../layouts/BaseLayout.astro";

import poji from "../imgs/homepage/picture.png";

import { Image } from "astro:assets";

import "@fontsource/cardo";
import "@fontsource-variable/newsreader";

import type { Crumb } from "../utils/types";

const breadcrumbs: Array<Crumb> = [{ title: "HOME", href: "/" }];
---

<BaseLayout title="aniket negi's homepage" current="home" {breadcrumbs}>
    <div
        class="flex lg:flex-row flex-col justify-between items-center w-full font-serif text-base font-normal"
    >
        <div class="flex lg:flex-row flex-col lg:space-x-8 lg:w-1/2 w-full">
            <div class="flex flex-col space-y-4 lg:w-1/2 w-full mb-2 lg:mb-0">
                <p>
                    <span class="em-text">I am <em>Aniket Negi</em></span>, a
                    somphomore at university studying Mechanical Engineering.
                    Welcome to my corner of the World Wide Web. My passion for
                    engineering started at a young age, sparked by a Mechanix
                    set and fueled by a love for tinkering with machines. My
                    fascination with computers began with my dad's computer. I'd
                    spend hours exploring the components, and hours after that
                    being scolded if i broke something haha.
                </p>
                <p>
                    Curiosity has been my guide, leading me to diverse fields of
                    study. In today's age of open information, I indulge my
                    interests through online guides.
                </p>
            </div>
            <div class="flex flex-col space-y-4 lg:w-1/2 w-full mt-2 lg:mt-0">
                <p>
                    Inspired by the philosophy of "Study to become accomplished,
                    not affluent," my blogs and gardens reflect my thirst for
                    knowledge. If you share this thirst for knowledge and have
                    interesting thoughts to share, shoot me an <a
                        class="text-orange underline-offset-4 hover:underline"
                        href="mailto:aniketnegi@duck.com">e-mail</a
                    > . I'm always eager to connect with new people.
                </p>
                <p>
                    Aside from engineering, I <em>used</em> to write poetry and prose,
                    which you can find <a
                        class="text-orange hover:underline underline-offset-4"
                        href="/lit">here</a
                    >. Although life took me in different directions for a
                    while, I'm now in a place where I can restart this practice.
                </p>
            </div>
        </div>

        <div class="lg:w-1/2 w-full flex justify-center items-center">
            <Image
                class="rounded-md shadow-2xl lg:w-4/6 w-11/12 mt-10 lg:mt-0 max-w-md"
                src={poji}
                alt="my photograph"
                loading="eager"
            />
        </div>
    </div>
</BaseLayout>
