---
import BaseLayout from "../layouts/BaseLayout.astro";

import poji from "../imgs/homepage/bwoah_672.jpg";

import { Image } from "astro:assets";

import type { Crumb } from "../utils/types";

const breadcrumbs: Array<Crumb> = [{ title: "HOME", href: "/" }];
---

<BaseLayout title="aniket negi's homepage" current="home" {breadcrumbs}>
  <div
    class="flex w-full flex-col items-center justify-between font-serif text-base font-normal lg:flex-row"
  >
    <div class="flex w-full flex-col lg:w-1/2 lg:flex-row lg:space-x-8">
      <div class="mb-2 flex w-full flex-col space-y-4 lg:mb-0 lg:w-1/2">
        <p>
          <span class="em-text">I am <em>Aniket Negi</em></span>, a sophomore at
          university studying Mechanical Engineering. Welcome to my corner of
          the World Wide Web.
        </p>
        <p>
          My passion for engineering started at a young age, sparked by a
          Mechanix set and fueled by a love for tinkering with machines. My
          fascination with computers began with my dad's computer. I'd spend
          hours exploring the components, and hours after that being scolded if
          i broke something haha.
        </p>
        <p>
          Curiosity has been my guide, leading me to diverse fields of study. In
          today's age of open information, I indulge my interests through online
          guides.
        </p>
      </div>
      <div class="mt-2 flex w-full flex-col space-y-4 lg:mt-0 lg:w-1/2">
        <p>
          Inspired by the philosophy of "Study to become accomplished, not
          affluent," my blogs and gardens reflect my thirst for knowledge. If
          you share this thirst for knowledge and have interesting thoughts to
          share, shoot me an <a
            class="text-orange underline-offset-4 hover:underline"
            href="mailto:aniketnegi@duck.com"
            rel="noopener noreferrer">e-mail</a
          > . I'm always eager to connect with new people.
        </p>
        <p>
          Aside from engineering, I <em>used</em> to write poetry and prose, which
          you can find on my <a
            class="text-orange underline-offset-4 hover:underline"
            href="/lit/">literature page</a
          >. Although life took me in different directions for a while, I'm now
          in a place where I can restart this practice.
        </p>
      </div>
    </div>

    <div class="flex w-full items-center justify-center lg:w-1/2">
      <Image
        class="mt-10 w-full max-w-md rounded shadow-xl lg:mt-0 lg:w-4/6"
        src={poji}
        width={426}
        alt="my photograph"
        loading="eager"
      />
    </div>
  </div>
</BaseLayout>
