---
import Nav from "../components/Nav.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";

import poji from "../imgs/picture.png";
import logo from "../imgs/ankt.svg";

import { Image } from "astro:assets";

import { footerLinks } from "../data/footerLinks";

// import "@fontsource/ibm-plex-sans/500.css";
// import "@fontsource/ibm-plex-sans/600.css";
import "@fontsource/cardo";
import "@fontsource-variable/manrope";
---

<!doctype html>
<html
    lang="en"
    class="selection:bg-[#F48525] selection:text-[#E9E9E9] scroll-smooth"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="a.svg" />
        <title>aniket negi's website</title>
    </head>
    <body class="bg-LM-Background flex flex-col items-center min-h-screen">
        <Nav />

        <Breadcrumbs />
        <div
            class="flex flex-row justify-between h-auto lg:max-w-7xl my-6 items-center w-full"
        >
            <div class="flex flex-row space-x-8 w-1/2">
                <div class="flex flex-col space-y-4 w-1/2">
                    <p>
                        Well, you see, I'm Ernest Hemingway, a writer who's been
                        fortunate enough to live a life filled with adventure
                        and words. Born in Oak Park, Illinois, in 1899, I've
                        always been drawn to the thrill of the unknown, which is
                        probably why I spent my early years as a journalist and
                        ambulance driver during World War I.
                    </p>
                    <p>
                        I've been lucky enough to travel the world, from the
                        bullfights in Spain to the savannahs of Africa, and
                        these experiences have greatly influenced my work. Some
                        say I had a bit of a penchant for adventure and a
                        fondness for a good drink or two, but what can I say?
                        Life should be lived to the fullest. My love for writing
                        wasn't just a profession; it was a way of life. I
                        believed in the power of brevity and authenticity,
                        stripping away the unnecessary to reveal the raw
                        emotions that lie beneath. My experiences in war, my
                        passion for hunting and fishing, and my deep connections
                        with the people I met along the way all found their way
                        into my stories.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ut et massa mi. Aliquam in hendrerit urna. Pellentesque
                        sit amet sapien fringilla, mattis ligula consectetur,
                        ultrices mauris.
                    </p>
                </div>
                <div class="flex flex-col space-y-4 w-1/2">
                    <p>
                        My writing style? Well, it's straightforward and
                        unadorned, just like life itself. I believe in the power
                        of the iceberg theory - what you don't say can be just
                        as important as what you do. I've penned some classics
                        like 'The Old Man and the Sea,' 'A Farewell to Arms,'
                        and 'For Whom the Bell Tolls.' My stories often explore
                        themes of courage, stoicism, and the human spirit in the
                        face of adversity.
                    </p>
                    <p>
                        So, if you're looking for stories that capture the
                        essence of the human condition and the thrill of the
                        journey, you might just find what you're looking for in
                        my works. After all, as I once said, 'There is no friend
                        as loyal as a book.'
                    </p>
                    <p>
                        To me, writing was a form of catharsis, a way to make
                        sense of a world that often seemed both beautiful and
                        brutal. So, whether you're drawn to the thrill of the
                        hunt, the allure of adventure, or the profound
                        simplicity of life's moments, you'll find a piece of my
                        soul in every word I've written.
                    </p>
                </div>
            </div>

            <div class="w-1/2 flex justify-center items-center">
                <Image
                    class="rounded drop-shadow-xl w-4/6"
                    src={poji}
                    alt="an abstract image"
                />
            </div>
        </div>
        <footer
            class="mt-20 mb-8 flex flex-row justify-between items-center lg:max-w-7xl w-full"
        >
            <div class="flex flex-col space-y-2 justify-center items-start">
                <Image
                    src={logo}
                    alt="Aniket Negi's personal Logo"
                    width={32}
                    height={21}
                />
                <p>Designed & developed with ❤️ by Aniket Negi.</p>
            </div>

            <ul class="flex flex-row justify-between space-x-8">
                {
                    footerLinks.map((footerLink) => (
                        <li>
                            <a target="_blank" href={footerLink.href}>{footerLink.name}</a>
                        </li>
                    ))
                }
            </ul>
        </footer>
    </body>
</html>

<style>
    p {
        color: var(--Light-Mode-LM---Text, #141414);
        font-family: "Cardo";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 135.292%; /* 1.35294rem */
    }
    footer p {
        color: var(--Light-Mode-LM---Text, #141414);
        font-family: "Cardo";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 135.292%; /* 1.35294rem */
        letter-spacing: -0.01rem;
    }
    footer ul li a {
        color: var(--Light-Mode-LM---Nav-Unselected, #696969);
        font-family: "Manrope Variable";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 129.896%; /* 1.29894rem */
        letter-spacing: -0.02rem;
    }
</style>
