---
import BaseLayout from "../layouts/BaseLayout.astro";

import poji from "../imgs/picture.png";

import { Image } from "astro:assets";

import "@fontsource/cardo";
---

<BaseLayout>
    <div class="flex sm:flex-row flex-col justify-between items-center w-full">
        <div class="flex sm:flex-row flex-col sm:space-x-8 sm:w-1/2 w-full">
            <div class="flex flex-col space-y-4 sm:w-1/2 w-full mb-2 sm:mb-0">
                <p>
                    Well, you see, I am <em>Aniket Negi</em>. Welcome to my
                    corner of the World Wide Web. I am currently a somphomore at
                    university studying Mechanical Engineering. I have always
                    been drawn to the discipline of engineering , which is
                    probably why I picked this major. I have been tinkering with
                    machines around me since as far as I can remember. The
                    interest probably began when my uncle gave me a Mechanix
                    set. It was the remote controlled cars after that.
                    Eventually, my father bought a computer for the house. I
                    still have it around, a Dell machine — Core 2 Duo and 2Gigs
                    of DDR2. That is where my fascination with computers began.
                    I would spend hours just removing and re-placing components
                    on the motherboard.
                </p>
                <p>
                    Curiosity has taken me to interesting places in my life and
                    given me a lot of opportunities I would not have had
                    otherwise. I believe it is an important trait for a person
                    to have. It was curiosity that makes me explore many
                    different fields and experience them. In today's age of open
                    information, there are plenty of guides available on almost
                    any subject matter. This makes is simple for someone like me
                    to just learn online about topics I am interested in.
                </p>
            </div>
            <div class="flex flex-col space-y-4 sm:w-1/2 w-full mt-2 sm:mt-0">
                <p>
                    Knowledge flows like a river and one must drink to quench
                    their thirst. In the words of Baba Rancho "Study to become
                    accomplished, not affluent". That is the structure my blogs
                    and gardens will follow, since that is how my brain is wired
                    now.
                </p>
                <p>
                    So, if that is how you think too, and have some interesting
                    thoughts to share, shoot me an e-mail, I am always eager to
                    talk to new people.
                </p>
                <p>
                    Apart from the "engineering", I also <em>used</em> to write poetry
                    and prose, which you can find <a
                        class="text-orange hover:underline"
                        href="/lit">here</a
                    >. Other things in life had me occupied for a while, and I
                    left my practice of writing, but with things now much more
                    smooth, I intend to restart it.
                </p>
            </div>
        </div>

        <div class="sm:w-1/2 w-full flex justify-center items-center">
            <Image
                class="rounded drop-shadow-xl sm:w-4/6 w-11/12 mt-10 sm:mt-0"
                src={poji}
                alt="my photograph"
                loading="eager"
            />
        </div>
    </div>
</BaseLayout>

<style>
    p {
        color: var(--Light-Mode-LM---Text, #141414);
        font-family: "Cardo";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 135.292%; /* 1.35294rem */
    }
</style>
