---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blog");

import lit_banner from "../imgs/lit_banner.png";

import type { Crumb } from "../utils/types";

const breadcrumbs: Array<Crumb> = [{ title: "literature", href: "/lit/" }];
---

<!-- Turns out rendering poetry is not a solved problem on the web yet. --><!-- But i can cheese it by using pre --><!-- https://stackoverflow.com/questions/14734564/how-to-semantically-tag-poem-text --><!-- https://duckduckgo.com/?q=rendering+poetry+with+spaces+html&t=ffab&atb=v409-1&ia=web --><!-- https://www.poetrypoets.com/how-to-format-poetry/ --><!-- https://electricbookworks.github.io/electric-book/docs/editing/poetry.html --><!-- https://www.w3docs.com/snippets/html/how-to-render-an-html-string-preserving-spaces-and-line-breaks.html --><!-- https://www.vianegativa.us/2010/06/how-to-format-poetry-on-the-web-an-incomplete-guide/#images --><!-- https://www.w3.org/html/wg/wiki/PoeticSemantics -->
<BaseLayout title="ankt / lit" {breadcrumbs} current="lit">
    <div>
        <div class="w-full flex flex-col items-center justify-start mb-6">
            <Image
                src={lit_banner}
                alt="abstract image of an alien thinking on Mars"
            />
            <div class="w-7/12 flex flex-row space-x-8 mt-8">
                <p class="w-1/2">
                    This is a collection of literature I think is worth
                    revisiting. Lorem ipsum dolor sit amet consectetur
                    adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                    Pellentesque sit amet sapien fringilla, mattis ligula
                    consectetur, ultrices mauris. Maecenas vitae mattis tellus.
                    Nullam quis imperdiet augue. Vestibulum auctor ornare leo,
                    non suscipit magna interdum eu. Curabitur pellentesque nibh
                    nibh, at maximus ante fermentum sit amet.
                </p>
                <p class="w-1/2">
                    This is a collection of literature I think is worth
                    revisiting. Lorem ipsum dolor sit amet consectetur
                    adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                    Pellentesque sit amet sapien fringilla, mattis ligula
                    consectetur, ultrices mauris. Maecenas vitae mattis tellus.
                    Nullam quis imperdiet augue. Vestibulum auctor ornare leo,
                    non suscipit magna interdum eu. Curabitur pellentesque nibh
                    nibh, at maximus ante fermentum sit amet.
                </p>
            </div>
        </div>
        <div class="mt-6">
            <section>
                <h2>mine</h2>
                <h3>story</h3>
                <ul>
                    <li>
                        <a href="#">Catharsis ⏤ ankt</a>
                    </li>
                </ul>
                <h3>verse</h3>
            </section>
            <section>
                <h2>found</h2>
                <h3>story</h3>
                <h3>verse</h3>
                <ul>
                    <li>
                        <a href="#">If ⏤ Rudyard Kipling</a>
                    </li>
                    <li>
                        <a href="#">The Road Not Taken ⏤ Robert Frost</a>
                    </li>
                    <li>
                        <a href="#">The Sound of Silence ⏤ Aamna Abdin</a>
                    </li>
                    <li>
                        <a href="#">Invictus ⏤ William Ernst Henley</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div></div>
</BaseLayout>

<style>
    p {
        font-family: "Cardo";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 135.292%; /* 1.35294rem */
    }
</style>
