---
import type { FileNode } from "../../utils/generateFileTree";

interface Props {
    fileTree: FileNode;
}

const { fileTree } = Astro.props as Props;
---

{
    fileTree && (
        <ul>
            {fileTree.children?.map((file) => (
                <li
                    class={file.isDir || file.isRootFile ? "ft-main" : "ft-sub"}
                >
                    {file.name}
                    {file.isDir && <Astro.self fileTree={file} />}
                </li>
            ))}
        </ul>
    )
}

<style>
    .ft-sub {
        padding-left: 20px;
    }
</style>
