---

---

<span class="text-LM-Nav-Selected my-3.5 w-full lg:max-w-7xl text-left">
    <!-- For Now -->
    HOME
</span>

<style>
    span {
        font-family: "Manrope Variable";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 129.896%; /* 1.13656rem */
        letter-spacing: -0.0175rem;
    }
</style>
