---

---

<span class="text-LM-Nav-Selected my-8 flex flex-row justify-start">
    <!-- For Now -->
    <p>HOME</p>
</span>

<style>
    span {
        font-family: "IBM Plex Sans";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 129.896%; /* 1.13656rem */
        letter-spacing: -0.0175rem;
    }
</style>
