---
import { Icon } from "astro-icon/components";
import type { Crumb } from "../utils/types";

interface Props {
    breadcrumbs: Array<Crumb>;
}

const { breadcrumbs } = Astro.props as Props;
---

<div
    class="breadcrumbs breadcrumbs-container text-LM-Nav-Unselected dark:text-DM-Nav-Unselected uppercase my-3.5 w-full lg:max-w-7xl text-left font-semibold tracking-[-0.0175rem]"
>
    <ol class="flex flex-row space-x-1 items-center font-sans text-xs">
        {
            breadcrumbs &&
                breadcrumbs.map((crumb, idx) => (
                    <>
                        <li>
                            <a
                                class:list={[
                                    idx === breadcrumbs.length - 1
                                        ? "text-LM-Nav-Selected dark:text-DM-Nav-Selected"
                                        : "",
                                    "hover:text-LM-Nav-Selected dark:hover:text-DM-Nav-Selected",
                                    "h-full",
                                ]}
                                {...(idx === breadcrumbs.length - 1
                                    ? { "aria-current": "page" }
                                    : {})}
                                href={crumb.href}
                            >
                                {crumb.title}
                            </a>
                        </li>
                        {idx < breadcrumbs.length - 1 && (
                            <Icon
                                name="chevronRight"
                                size={16}
                                class="text-orange"
                            />
                        )}
                    </>
                ))
        }
    </ol>
</div>
