---
import { Image } from "astro:assets";

import { footerLinks } from "../data/footerLinks";

import logo from "../imgs/ankt.svg";
import WebsiteBanners from "./WebsiteBanners.astro";

// font's too heavy
// Supports weights 400-900
// import "@fontsource-variable/playfair-display";
---

<footer
  class="mt-12 flex w-full flex-col items-center space-y-10 lg:mt-20 lg:max-w-7xl"
>
  <div
    class="flex w-full flex-col-reverse items-start space-y-12 space-y-reverse lg:flex-row lg:items-center lg:justify-between lg:space-y-0"
  >
    <div class="left flex w-max flex-col items-start justify-center space-y-3">
      <Image
        src={logo}
        alt="Aniket Negi's personal Logo"
        width={32}
        height={21}
        loading="eager"
        class="select-none"
      />

      <!-- <span>ankt</span> -->
      <p
        class="text-normal font-serif text-sm tracking-[-0.00875rem] text-LM-Text sm:text-base sm:tracking-[-0.01rem] dark:text-DM-Text"
      >
        Designed & developed with ❤️ by Aniket Negi.
      </p>
    </div>

    <ul
      class="flex w-full flex-row justify-between text-LM-Nav-Unselected lg:w-max lg:justify-normal lg:space-x-6 dark:text-DM-Nav-Unselected"
    >
      {
        footerLinks.map((footerLink) => (
          <li>
            <a
              class="font-sans text-base font-medium tracking-[-0.02rem] hover:text-LM-Nav-Selected dark:hover:text-DM-Nav-Selected"
              target="_blank"
              href={footerLink.href}
              aria-label={footerLink.name}
              rel="noopener noreferrer"
            >
              {footerLink.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <!-- <WebsiteBanners /> -->
</footer>
