---
import { Image } from "astro:assets";

import { navLinks } from "../data/navLinks";
import type { Crumb } from "../utils/types";

import Breadcrumbs from "./Breadcrumbs.astro";
import ThemeIcon from "./ThemeIcon.astro";

import logo from "../imgs/ankt.svg";

interface NavProps {
    current: string;
    breadcrumbs: Crumb[];
}

const { current, breadcrumbs } = Astro.props as NavProps;
---

<nav class="flex flex-col items-start space-y-8 sm:space-y-12 w-full">
    <div
        class="flex flex-col sm:flex-row space-y-6 sm:space-y-0 items-center w-full justify-between h-full"
    >
        <div class="flex flex-row justify-between items-center w-full sm:w-fit">
            <a href="/">
                <Image
                    src={logo}
                    alt="Aniket Negi's personal Logo"
                    width={73}
                    height={48}
                    loading="eager"
                />
            </a>
            <div class="block sm:hidden">
                <ThemeIcon key={0} />
            </div>
        </div>

        <ul
            class="flex flex-row justify-between sm:justify-normal items-center h-full sm:space-x-6 w-full sm:w-fit text-LM-Nav-Unselected dark:text-DM-Nav-Unselected"
        >
            {
                navLinks.map((navLink) => (
                    <li>
                        <a
                            class:list={[
                                navLink.name === current
                                    ? "text-LM-Nav-Selected dark:text-DM-Nav-Selected"
                                    : "",
                                "hover:text-LM-Nav-Selected dark:hover:text-DM-Nav-Selected",
                            ]}
                            href={navLink.href}
                        >
                            {navLink.name}
                        </a>
                    </li>
                ))
            }
        </ul>
        <div class="sm:block hidden">
            <ThemeIcon key={1} />
        </div>
    </div>
    <Breadcrumbs {breadcrumbs} />
</nav>

<style>
    li a {
        font-family: "Manrope Variable", sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02rem;
    }
</style>
