---
import { Image } from "astro:assets";

import { navLinks } from "../data/navLinks";

import logo from "../imgs/ankt.svg";
---

<header class="my-8 w-full lg:max-w-7xl">
    <nav class="flex flex-row justify-between items-center">
        <button>
            <Image
                src={logo}
                alt="Aniket Negi's personal Logo"
                width={73}
                height={48}
                loading="eager"
            />
        </button>

        <ul class="flex flex-row justify-between space-x-6">
            {
                navLinks.map((navLink) => (
                    <li>
                        <a class="hover:text-[#16151B]" href={navLink.href}>
                            {navLink.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>

<style>
    li a {
        color: var(--Light-Mode-LM---Nav-Unselected, #696969);
        font-family: "Manrope Variable", sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02rem;
    }
</style>
