---
import type { MarkdownHeading } from "astro";
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

// TableOfContents.astro
const { headings } = Astro.props;

function buildToc(headings: MarkdownHeading[]) {
    const toc: MarkdownHeading[] = [];
    const parentHeadings = new Map();
    headings.forEach((h) => {
        const heading = { ...h, subheadings: [] };
        parentHeadings.set(heading.depth, heading);
        // Change 2 to 1 if your markdown includes your <h1>
        if (heading.depth === 2) {
            toc.push(heading);
        } else {
            parentHeadings.get(heading.depth - 1).subheadings.push(heading);
        }
    });
    return toc;
}

const toc = buildToc(headings);
---

<h4 class="font-sans text-lg tracking-tight font-medium mt-2 uppercase">Table of Contents</h4>
<nav class="toc">
    <ul>
        {toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
    </ul>
</nav>
