---
interface Props {
    isMobile: boolean;
    key: number;
}

const { isMobile, key } = Astro.props as Props;
---

<theme-icon data-key={key}>
    <button id={`themeToggle-${key}`}>
        <div
            class:list={[
                "motion-safe:hover:scale-110 transform-gpu transition ease-in-out rounded-2xl bg-DM-Background dark:bg-LM-Background drop-shadow-2xl h-7 w-7",
                isMobile ? "block sm:hidden" : "hidden sm:block",
                "themeToggler",
            ]}
        >
        </div>
    </button>
</theme-icon>

<script>
    class ThemeIcon extends HTMLElement {
        constructor() {
            super();

            // Read the key from the data attribute.
            const key = this.dataset.key;
            const themeToggle = document.getElementById(`themeToggle-${key}`);

            themeToggle?.addEventListener("click", () => {
                const element = document.documentElement;
                element.classList.toggle("dark");

                const isDark = element.classList.contains("dark");
                localStorage.setItem("theme", isDark ? "dark" : "light");
            });
        }
    }

    customElements.define("theme-icon", ThemeIcon);
</script>
