---
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

import { ViewTransitions } from "astro:transitions";

import ThemeManager from "../components/ThemeManager.astro";

import type { Crumb } from "../utils/types";

interface BaseLayoutProps {
    title?: string;
    current: string;
    breadcrumbs: Crumb[];
}

const { title, current, breadcrumbs } = Astro.props as BaseLayoutProps;

// fonts
// import "@fontsource-variable/manrope";
// import "@fontsource-variable/newsreader";
---

<!doctype html>
<html
    lang="en"
    class="selection:bg-orange selection:text-[#E9E9E9] scroll-smooth antialiased"
>
    <head>
        <Head title={title} />
        <ThemeManager />
        <!-- Firefox does not support it as of 21-05-2024, so it flickers -->
        <ViewTransitions />
    </head>
    <body
        class="bg-LM-Background dark:bg-DM-Background transition ease-in-out text-LM-Text dark:text-DM-Text flex flex-col items-center mx-6 h-screen sm:h-auto"
    >
        <header class="mt-6 mb-4 sm:mt-4 w-full xl:max-w-7xl xl:my-8">
            <Nav {current} {breadcrumbs} />
        </header>
        <main class="my-4 xl:max-w-7xl xl:my-0 w-full">
            <slot />
        </main>
        <Footer />
    </body>
</html>
