---
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

import { ClientRouter } from "astro:transitions";

import ThemeManager from "../components/ThemeManager.astro";

import type { Crumb, currentPage } from "../utils/types";

interface BaseLayoutProps {
  title?: string;
  current: currentPage;
  breadcrumbs: Crumb[];
}

const { title, current, breadcrumbs } = Astro.props as BaseLayoutProps;

// fonts
import "@fontsource-variable/manrope";
import "@fontsource-variable/newsreader";
import "@fontsource-variable/inter";

// import { join } from "node:path";
// import { AstroFont } from "astro-font";
---

<!doctype html>
<html
  lang="en"
  class="scroll-smooth subpixel-antialiased selection:bg-orange selection:text-[#E9E9E9]"
>
  <head>
    <Head title={title} />
    <!-- <AstroFont
      config={[
        {
          name: "Departure Mono",
          src: [
            {
              weight: "400",
              style: "normal",
              path: join(
                process.cwd(),
                "public",
                "fonts",
                "DepartureMono-Regular.woff2",
              ),
            },
          ],
          preload: true,
          display: "swap",
          fallback: "monospace",
        },
        // {
        //   name: "Satoshi Variable",
        //   src: [
        //     {
        //       weight: "400",
        //       style: "normal",
        //       path: join(
        //         process.cwd(),
        //         "public",
        //         "fonts",
        //         "Satoshi-Variable.woff2",
        //       ),
        //     },
        //   ],
        //   preload: true,
        //   display: "swap",
        //   fallback: "sans-serif",
        // },
      ]}
    /> -->
    <ThemeManager />
    <ClientRouter />
  </head>
  <body
    class="mx-6 mb-8 flex flex-col items-center bg-LM-Background text-LM-Text transition ease-in-out dark:bg-DM-Background dark:text-DM-Text"
  >
    <header class="mb-4 mt-6 w-full sm:mt-4 xl:my-8 xl:max-w-7xl">
      <Nav {current} {breadcrumbs} />
    </header>
    <main class="my-4 w-full xl:my-0 xl:max-w-7xl">
      <slot />
    </main>

    <Footer />
  </body>
</html>
