---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="w-full h-full flex flex-col items-center">
        <div
            class="flex flex-col space-y-12 items-center text-center h-full md:w-max bg-LM-Secondary dark:bg-DM-Secondary shadow-xl rounded-xl sm:py-8 sm:px-16 p-4"
        >
            <span class="font-sans text-2xl font-medium tracking-[-0.075rem]"
                >Coming Soon!</span
            >
            <div
                class="flex flex-col space-y-3.5 font-sans text-base font-normal tracking-tight[-0.015rem]"
            >
                <p>
                    This page is currently under construction, check back soon!
                </p>
                <p>
                    Have some feedback / suggestions? <a
                        class="text-orange hover:underline"
                        href="mailto:aniketnegi@duck.com">E-mail</a
                    > me or send me a DM on Instagram!
                </p>
            </div>
        </div>
    </div>
</BaseLayout>
